body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#wrapper {
        font-family: Lato;
        font-size: 1.5rem;
        text-align: center;
        box-sizing: border-box;
        color: #333;
      }
      #wrapper #dialog {
        border: solid 1px #ccc;
        margin: 5px 10px;
        padding: 20px 30px;
        display: inline-block;
        box-shadow: 0 0 4px #ccc;
        background-color: #faf8f8;
        overflow: hidden;
        position: relative;
        max-width: 450px;
      }
      #wrapper #dialog h3 {
        margin: 0 0 10px;
        padding: 0;
        line-height: 1.25;
      }
      #wrapper #dialog span {
        font-size: 90%;
      }
      #wrapper #dialog #form {
        width: auto;
        margin: 25px auto 0;
      }
      #wrapper #dialog #form input {
        margin: 0 6px;
        text-align: center;
        line-height: 35px;
        font-size: 25px;
        border: solid 2px #ccc;
        box-shadow: 0 0 6px #ccc inset;
        outline: none;
        width: 45px;
        transition: all 0.2s ease-in-out;
        border-radius: 9px;
      }
      #wrapper #dialog #form input:focus {
        border-color: purple;
        box-shadow: 0 0 5px purple inset;
      }
      #wrapper #dialog #form input::-moz-selection {
        background: transparent;
      }
      #wrapper #dialog #form input::selection {
        background: transparent;
      }
      #wrapper #dialog #form button {
        margin: 30px 0 50px;
        width: 50%;
        padding: 6px;
        background-color: #b85fc6;
        border: none;
        text-transform: uppercase;
      }
      .btn-embossed {
        margin: 30px 0 50px;
        width: 50%;
        padding: 6px;
        background-color: #b85fc6;
        border: none;
        text-transform: uppercase;
      }
      #wrapper #dialog button.close {
        border: solid 2px;
        border-radius: 30px;
        line-height: 19px;
        font-size: 120%;
        width: 30px;
        position: absolute;
        right: 8px;
        top: 10px;
      }
      #wrapper #dialog div {
        position: relative;
        z-index: 1;
      }
      #wrapper #dialog img {
        position: absolute;
        bottom: -70px;
        right: -63px;
      }

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 6px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
